<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:fr="http://typo3.org/ns/Fr/FrUtility/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
    Event Submission Form
</f:comment>
<f:layout name="PageComponent"/>
<f:section name="Main">
    <fr:headerData>
        <link href="/assets/event-submission-form/assets/index.css" rel="preload" as="style">
        <link href="/assets/event-submission-form/assets/index.js" rel="preload" as="script">
    </fr:headerData>
    <noscript>
        <p class="u-typo:bold">We're sorry but the event submission form can not be displayed without JavaScript enabled.
            Please enable it to continue.</p>
    </noscript>

    <div id="c{data.uid}" class="c-cal-list u-space-top:default">
        <f:if condition="{data._LOCALIZED_UID}">
            <a id="c{data._LOCALIZED_UID}"></a>
        </f:if>
        <f:render section="Header" optional="true">
            <f:render partial="Header/All" arguments="{_all}"/>
        </f:render>
        <div id="event-submission-app"
             class="c-event-submission-app__content"
             data-foo-bar="flexform.fooBar"></div>
    </div>
    <f:asset.css identifier="eventSubmissionApp" href="assets/event-submission-form/assets/index.css" rel="stylesheet"/>
    <f:asset.script
            type="module"
            priority="false"
            crossorigin=""
            identifier="eventSubmissionApp"
            src="assets/event-submission-form/assets/index.js"/>
</f:section>
</html>
