<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="MailLayout"/>
<f:section name="Main">
    <!-- Main email container -->
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f0f0f0">
        <tr>
            <td align="center" valign="top">
                <table cellpadding="0" cellspacing="0" border="0" width="600"
                       style="max-width: 600px; background-color: #fff; border: 1px solid #ddd;">
                    <!-- Header -->
                    <tr>
                        <td align="left" valign="top" bgcolor="#fff" style="padding: 20px 0;">

                            <f:if condition="{eventSubmission.mail.logoImage}">
                                <f:image src="{eventSubmission.mail.logoImage}" absolute="1" />
                            </f:if>
                        </td>
                    </tr>
                    <!-- Content -->
                    <tr>
                        <td align="left" valign="top" style="padding: 30px;">
                            <p>{f:translate(key: 'user.eventPostConfirmation.mail.greeting', extensionName: '{extensionName}')}</p>
                            <p>{f:translate(key: 'user.eventPostConfirmation.mail.message.1', extensionName: '{extensionName}')}</p>
                            <p>{f:translate(key: 'user.eventPostConfirmation.mail.message.2', extensionName: '{extensionName}')}</p>
                            <p>{f:translate(key: 'user.eventPostConfirmation.mail.message.3', extensionName: '{extensionName}')}</p>
                            <p>{f:translate(key: 'user.eventPostConfirmation.mail.message.4', extensionName: '{extensionName}')}</p>

                            <!-- Call-to-Action Button -->
                            <p>
                                <a href="{editUrl}" target="_blank"
                                   style="background-color: #1b2b3a; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px; display: inline-block;">
                                    {f:translate(key: 'user.eventPostConfirmation.mail.confirmation.button', extensionName: '{extensionName}')}
                                </a>
                            </p>

                            <p>{f:translate(key: 'user.eventPostConfirmation.mail.signature', extensionName: '{extensionName}')}</p>
                        </td>
                    </tr>
                    <!-- Footer -->
                    <tr>
                        <td align="center" valign="top" bgcolor="#1b2b3a" style="padding: 20px 0;">
                            <p style="color: #ffffff;">{f:translate(key: 'user.eventPostConfirmation.mail.footer', extensionName: '{extensionName}')}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</f:section>
</html>
